<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Model1" connectionString="data source=DESKTOP-1A68DCF;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=DESKTOP-1A68DCF;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model12" connectionString="data source=DESKTOP-1A68DCF;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model13" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model14" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model2" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model15" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model16" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model17" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model18" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model19" connectionString="data source=DESKTOP-1A68DCF;initial catalog=QUANLYPHONGKHAM2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model110" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model111" connectionString="data source=DESKTOP-765H1DD;initial catalog=KHACHHANG;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model112" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model113" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model114" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model115" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model116" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model117" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model118" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model119" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model120" connectionString="data source=DESKTOP-765H1DD;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model121" connectionString="data source=DESKTOP-1A68DCF;initial catalog=QUANLYPHONGKHAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>